body{
  background-image: url('../images/bg.png');
  color: #071F4C;
}

p {
  font-family: "Georgia", serif;
  font-size: 1em;
}

h1 {
  font-family: "Georgia", serif;
  font-size: 1.6em;
  margin-top: 0em;
}

h1.introduction {
  font-size: 1.9em;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 1.3em;
}	

div#page-section {
  margin-top: 4em;
  padding-top: 3em;
  padding-bottom: 1em;
  width: 52em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  overflow: hidden;
}
 
div#header-section {
  margin-left: 1.3em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  float: left;
  width: 100%;
  height: 2.5em;
}

div#header-section img {
  margin-top: -2em;
  margin-right: 2.2em;
  float: left;
}

div#nav-section {
  margin-top: 5em;
  margin-left: 0.5em;
  float: left;
  clear: left;
  border-width: 0.1em;
  border-color: #071F4C;
  border-style: solid;
}

div#nav-section ul {
  list-style: none;
  font-family: "Georgia", serif;
  font-size: 1.0em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

div#nav-section ul a {
  color: #aaa;
}

div#nav-section ul li.current a {
  text-decoration: none;
  color: #071F4C;
}

div#main-section {
  float: left;
  margin-left: 1em;
  width: 41.5em;
}

div#footer-section {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 58em;
}

div#footer-section img {
  position: relative;
  margin-top: -13em;
}

div#footer-section img.right {
  float: right;
  margin-top: -4.2em;
}