body{
  background-image: url('../images/bg.png');
  color: #071F4C;
}

p {
  font-family: "Georgia", serif;
  font-size: 1em;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 1.3em;
}	

h1 {
  font-family: "Georgia", serif;
  font-size: 1.6em;
  margin-top: 0em;
}

h1.introduction {
  font-size: 1.9em;
}

div {
  float: left;
}

div#page-section {
  margin-top: 5em;
  margin-left: 5em;
  margin-bottom: 15em;
  padding-top: 4em;
  padding-right: 1em;
  padding-bottom: 1em;
  width: 52em;
  background-color: #fff;  
}

div#page-section div {
  opacity: 1;
}

div#header-section {
  margin-left: 12em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  float: left;
  height: 2.5em;
}

div#nav-section {
  margin-top: 5em;
  margin-left: 2em;
  float: left;
  clear: left;
  border-width: 0.1em;
  border-color: #071F4C;
  border-style: solid;
}

div#nav-section ul {
  list-style: none;
  font-family: "Georgia", serif;
  font-size: 1.1em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

div#nav-section ul a {
  color: #aaa;
}

div#nav-section ul li.current a {
  text-decoration: none;
  color: #071F4C;
}

div#main-section {
  float: left;
  margin-left: 1em;
  width: 39em;
  background-color: #fff;
}
